body{
    
}
.container{
    text-align: center;
}
h1{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    background-color: #04146c;
    font-size: 38.6px;
    color: #ffffff;
    text-align: center;
}
h2{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 900;
    color: #04146c;
    font-size: 88px;
    text-align: center;
}
h3{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    color: #04146c;
    font-size: 26.6px;
    text-align: center;
}
img{
width: 600px;

}
p{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
    color: #04146c;
    background-color: #edf7ff;
    font-size: 24px;
    text-align: center;
}