p{
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;
    font-size: 32px;
    font-weight: 500;
}
.imgEIT {
width: 100px;
vertical-align: middle;
margin-left: 30px;
padding-left: 130px;

}
.imgIAIA{
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
    
}
.imgNJ{
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
    
}
.imgWH{
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
    
}
.imgWWWAPAS{
    width: 100px;
    vertical-align: middle;
    margin-left: 30px;
    
}